<h1>Cars</h1>

<ul class="car-list">
  <% m.cars.forEach(function (car) { %>
    <li class="car">Make:
      <a href="#cars/<%- car.id %>">
        <%- car.id %>,</a></li>
    <li class="fuel">
        Fuel Type: <%- car.fuelType %>,</li>
    <li class="aspiration">    
        Aspiration: <%- car.aspiration %>, </li>
    <li class="body-style">      
        Body Style: <%- car.bodyStyle %>, </li>
    <li class="cylinders">      
        Cylinders: <%- car.numOfCylinders %>, </li>
    <li class="horsepower">
        Horsepower: <%- car.horsepower %>, </li>
    <li class="city-mpg">      
        City MPG: <%- car.cityMpg %>, </li>
    <li class="highway-mpg">
        Highway MPG: <%- car.highwayMpg %>, </li>
  <% }) %>
</ul>